<div class="loginForm">
  <form class="logInFormView">
    <div class="formField">
      <div class="logInLabelView"><label for="username">Username</label></div>
      <div class="logInInputView">
        <input type="text" name="username" placeholder="Username" />
      </div>
    </div>
    <div class="formField">
      <div class="logInLabelView"><label for="password">Password</label></div>
      <div class="logInInputView">
        <input type="password" name="password" placeholder="Password" />
      </div>
    </div>
    <div class="logInButtons">
      <button type="button" (click)="login()">Login</button>
      <button type="button" (click)="logout()">LogOut</button>
    </div>
  </form>
</div>
