<div class="headerView">
  <div class="informationView">
    <div class="logoView">
      <div>Logo</div>
    </div>
    <div class="topright">
      <div>Banner</div>
      <div>
        <app-login></app-login>
      </div>
    </div>
  </div>
  <div class="navigationView">
    <div class="dateView">{{ date | date }}</div>
    <div class="timeView">{{ Hours }} : {{ Minutes }} : {{ Seconds }}</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div>
      <a routerLink="/products">Products</a>
    </div>
    <div><a routerLink="/services">Services</a></div>
    <div>
      <a routerLink="/promotion">Promotions</a>
    </div>
    <div><a routerLink="/shops">Shops</a></div>
  </div>
</div>
