<header>
  <!-- <div class="informationView"> -->
  <div class="headerLogoBlock">
    <img src="logo.png" alt="Company logo" />
  </div>
  <div class="headerBannerLoginBlock">
    <div class="bannerBlock">
      <section>
        <article>
          <h1>25% Off all prodcuts</h1>
        </article>
      </section>
    </div>
    <div class="loginBlock">
      <div class="loginIconClass" *ngIf="!authService.isLoggedIn">
        <button type="button" (click)="activateLogInForm()">
          <img src="login1.png" alt="" />
        </button>
      </div>
      <div class="loginIconClass" *ngIf="authService.isLoggedIn">
        <button type="button" (click)="deactivateLogInForm()">
          <img src="logout.jpg" alt="" />
        </button>
      </div>

      <!-- <app-login></app-login> -->
    </div>
  </div>
  <div class="loginContainer" *ngIf="loginModuleActivated">
    <app-login (loginExit)="disableLoginModule()"></app-login>
  </div>
</header>
