<div class="contentView">
  <div class="contentCategories">
    <ul>
      <li *ngFor="let shoptype of shopsTypes$ | async">
        <a [routerLink]="['./', shoptype.typeName]" routerLinkActive="active"
          >{{ shoptype.typeName }}
        </a>
        <!-- <a>{{ category.name }}</a> -->
      </li>
    </ul>
    <!-- <ul>
      <li *ngFor="let sortItem of sortItems | sort">
        <a>{{ sortItem }}</a>
      </li>
    </ul> -->
  </div>
  <div class="contentListView">
    <router-outlet></router-outlet>
  </div>
</div>
