/* .productView {
    background-color: darkgreen;
    display: grid;
    height: 100%;
    grid-template-columns: 20% 80%;
}

.productCategories {
    background-color: darkgray;
    height: 100%;
}

.productListView {
    background-color: blueviolet;
    height: 100%;

} */