<div class="startUpView">
  <article>About project!</article>
  <h1>
    Right now, this is not a complete UX/UI design project with fully developed
    styling and responsive layouts, <br />
    but rather a functionality-focused implementation.
  </h1>
  <section class="technologyList">
    <fieldset class="angular">
      <legend>Frontend - Angular</legend>
      <div class="image">
        <img src="angular.jpg" alt="angular image" />
      </div>

      <ul>
        <li>Components</li>
        <li>Directives</li>
        <li>Pipes</li>
        <li>Modules</li>
        <li>Services</li>
        <li>Routing</li>
        <li>RxJS</li>
        <li>HTTP module</li>
        <li>Authorization</li>
        <li>Authentication</li>
        <li>Guards</li>
        <li>Forms</li>
      </ul>
    </fieldset>

    <fieldset>
      <legend>Backend - NodeJS</legend>
      <ul>
        <li>Expressjs</li>
        <li>MongoDB</li>
        <li>Mongoose</li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>DevOps</legend>
      <ul>
        <li>Docker</li>
        <li>Docker-compose</li>
        <li>Kubernetes</li>
      </ul>
    </fieldset>
  </section>
</div>
