<nav>
  <time datetime="">
    <div class="dateView">{{ date | date }}</div>
    <div class="timeView">{{ Hours }} : {{ Minutes }} : {{ Seconds }}</div>
  </time>
  <div class="navigation">
    <div class="search">
      <img src="" alt="" />
      <input type="text" />
    </div>
    <ul>
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/services">Services</a></li>
      <li><a routerLink="/promotion">Promotions</a></li>
      <li><a routerLink="/shops">Shops</a></li>
      <li><a routerLink="/gardenThings">Dārza preces</a></li>
    </ul>
  </div>
</nav>
