<nav>
  <time datetime="">
    <div class="dateView">{{ date | date }}</div>
    <div class="timeView">
      Plkst. {{ Hours }} : {{ Minutes }} : {{ Seconds }}
    </div>
  </time>
  <div class="navigation">
    <div class="search">
      <!-- <img src="search.jpg" alt="" /> -->
      <input type="text" placeholder="Enter text" />
    </div>
    <ul>
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/services">Services</a></li>
      <li><a routerLink="/shops">Shops</a></li>
      <li><a routerLink="/aboutUs">About Us</a></li>
      <li [class.unpressable]="isDisabled">
        <a routerLink="/account">Account</a>
      </li>
    </ul>
  </div>
</nav>
