<nav>
  <time datetime="">
    <div class="dateView">{{ date | date }}</div>
    <div class="timeView">
      Plkst. {{ Hours }} : {{ Minutes }} : {{ Seconds }}
    </div>
  </time>
  <div class="navigation">
    <div class="search">
      <!-- <img src="search.jpg" alt="" /> -->
      <input type="text" placeholder="Enter text" />
    </div>
    <ul>
      <li>
        <a routerLink="/products" routerLinkActive="navActive">Products</a>
      </li>
      <li>
        <a routerLink="/services" routerLinkActive="navActive">Services</a>
      </li>
      <li><a routerLink="/shops" routerLinkActive="navActive">Shops</a></li>
      <li>
        <a routerLink="/aboutUs" routerLinkActive="navActive">About Us</a>
      </li>
      <li *ngIf="authservice.isLoggedIn; else register">
        <a routerLink="/account">Account</a>
      </li>

      <ng-template #register>
        <li><a routerLink="/register">Register</a></li>
      </ng-template>
    </ul>
  </div>
</nav>
