<div *ngIf="veikalselected; else eveikals" class="productlistcontainer">
  <div class="productlistcontainerTop">
    <ul>
      <li *ngFor="let shop of shops$ | async">
        <a
          (click)="changeSelectedState()"
          [routerLink]="['./', shop.Name]"
          routerLinkActive="Productsactive"
          >{{ shop.Name }}</a
        >
      </li>
    </ul>
  </div>
  <div *ngIf="shopselected; else noProduct" class="productlistcontainerTBottom">
    <router-outlet></router-outlet>
  </div>

  <div class="bg-blend-hue">
    <ng-template #noProduct>
      <p>No shop selected!</p>
    </ng-template>
  </div>
</div>

<div class="bg-blend-hue">
  <ng-template #eveikals> <app-eshop-detail></app-eshop-detail> </ng-template>
</div>
