<section class="segmentSection">
  <div class="segmentView" *ngFor="let segment of segments$ | async">
    <a class="segmentRoute" [routerLink]="['./', segment.segmentName]">
      <article>{{ segment.segmentName }}</article>
      <div
        class="segmentImage"
        [style.background-image]="getBg(segment.segmentImage)"
      ></div>
    </a>
  </div>
</section>

<router-outlet></router-outlet>

<!-- Old version of segment list-->
<!-- <div class="segmentlistcontainer">
  <div class="segmentlistcontainerTop">
    <div>
      <a
        class="segmentItemLink"
        *ngFor="let segment of segments$ | async"
        [routerLink]="['./', segment.segmentName]"
      >
        <div class="segmentItem" routerLinkActive="segmentactive">
          {{ segment.segmentName }}
        </div></a
      >
    </div>
    <div>
      <button class="addButton" type="button" (click)="addItem()">
        Add item
      </button>
    </div>
    <div *ngIf="addItemenabled">
      <app-modify-detail (disableEditing)="disableToEdit()"></app-modify-detail>
    </div> -->

<!-- Not used part of component-->

<!-- <div class="segmentItem" *ngFor="let segment of segments$ | async">
      <a
        [routerLink]="['./', segment.segmentName]"
        routerLinkActive="Productsactive"
        >{{ segment.segmentName }}</a
      >
    </div> -->
<!-- <ul>
      <li *ngFor="let segment of segments$ | async">
        <a
          [routerLink]="['./', segment.segmentName]"
          routerLinkActive="Productsactive"
          ><div class="segmentItem">{{ segment.segmentName }}</div></a
        >
      </li>
    </ul> -->

<!-- Not used part of component-->
<!-- </div>
  <div class="segmentlistcontainerBottom">
    <router-outlet></router-outlet>
  </div>
</div> -->
