.segmentSection {
    height: 100%;
    display: flex;
    background-color: rgb(249, 250, 248);

}

.segmentView {
    border-radius: 12px;
    margin: 10px;
    height: 200px;
    width: 200px;
    border: 4px black solid;
    display: flex;

}


.segmentRoute {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    grid-template-areas: "segmentTtitle" "segmentImage"; */
    justify-content: center;
    align-items: center;
}

.segmentRoute article {
    /* grid-area: segmentTtitle; */
    text-align: center;
}

.segmentImage {
    height: 100%;
    width: 100%;
    /* grid-area: segmentImage; */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;



}

.segmentRoute:hover {
    /* background-color: rgba(25, 75, 17, 0.4); */
    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.5), 0px 10px 10px rgba(0, 0, 0, 0.5), 10px 0px 10px rgba(0, 0, 0, 0.5), -10px 0px 10px rgba(0, 0, 0, 0.5);
}

/* .segmentRoute:hover .segmentImage {
    filter: brightness(0.7);
    transition: 0.3s;
} */







.segmentlistcontainer {
    background-color: darkgreen;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 90%;

}

.segmentlistcontainerTop {
    background-color: darkgreen;
    height: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    margin-top: 10px;
}

.segmentlistcontainerBottom {
    background-color: darkslateblue;
    height: 100%;
}

.segmentItem {
    background-color: darkslategray;
    text-align: center;
    display: inline-block;
    height: 30px;
    width: 120px;
    border: 1px solid red;
    margin-left: 5px;
}

.segmentItem:hover {
    background-color: rgb(35, 133, 133);

}

.segmentactive {
    background-color: blue;
    outline: 3px solid red;
    outline-offset: 0px;
}

.addButton {
    background-color: rgb(55, 116, 55);
    text-align: center;
    display: inline-block;
    height: 30px;
    width: 120px;
    border: 1px solid red;
    margin-left: 5px 5px;
}

.addButton:hover {
    background-color: blue;
}