@import "tailwindcss";

@theme {}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.navActive {
    transform: translateY(-10px);
    box-shadow: inset 0px -5px 15px rgba(25, 75, 17, 1);
}

/* Global styles */

.mainconteiner {
    min-height: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: "contentCategories contentListView";
}

.contentCategories {
    width: 100%;
    grid-area: contentCategories;
    /* background-color: rgb(249, 250, 248); */
}

.categoryList {
    box-shadow: -5px 0px 5px rgba(25, 75, 17, 1), 5px 0px 5px rgba(0, 0, 0, 0.5), 0px 2px 5px rgba(25, 75, 17, 1);
}

.contentListView {
    grid-area: contentListView;
    background-color: blueviolet;
    /* border: 1px black solid; */
}

.categoryItem a {
    text-decoration: none;
    max-height: fit-content;
    margin-top: auto;
    border: 1px black solid;
}

.productlistcontainer {
    background-color: darkgreen;
    height: 100%;
    display: grid;
    grid-template-rows: 80% 20%;
}

.productlistcontainerTop {
    background-color: darkkhaki;
    height: 100%;
}

.productlistcontainerTBottom {
    background-color: darkslateblue;
    height: 100%;
}

.Productsactive {
    color: blue;
    text-decoration: dotted;
}

.productContainer {
    background-color: darkslategray;
    height: 100%;
    display: grid;
    grid-template-rows: 20% 40% 40%;
}

.idView {
    background-color: darkgreen;
    display: grid;
    grid-template-columns: 20% 30% 50%;
    height: 100%;
}

.categoryView {
    background-color: rgb(54, 66, 54);
    display: grid;
    grid-template-columns: 20% 30% 50%;
    height: 100%;
}

.priceView {
    background-color: rgb(74, 85, 105);
    display: grid;
    grid-template-columns: 20% 30% 50%;
    height: 100%;
}

.itemView {
    display: block;
    width: 800px
}

.itemLabel {
    display: inline-block;
}

.itemData {
    display: inline-block;
}



.buttonView {
    display: block;
}

.buttonView button {
    display: inline-block;
    background-color: darkgreen;
    margin-left: 5px;
    height: 40px;
    width: 60px;
    cursor: pointer;
}

.editcontainerView {
    display: grid;
    grid-template-columns: 50% 50%;
}

.editLabelView {
    display: inline-block
}

.dataInputView {
    display: inline-block;
    width: 100%;

}

.editLabelView:hover {
    background-color: rgb(68, 68, 126);

}

.dataInputView:hover {
    background-color: rgb(45, 45, 75);
}