@import "tailwindcss";

@theme {}

body {
    box-sizing: border-box;
    background-color: coral;
    padding: 0px;
    margin: 0px;
}

.active {
    background-color: rgb(8, 8, 129);
}

/* Global styles */

.contentView {
    background-color: darkgreen;
    display: grid;
    height: 100%;
    grid-template-columns: 10% 90%;
}

.contentCategories {
    background-color: darkgray;
    height: 100%;
}

.contentListView {
    background-color: blueviolet;
    height: 100%;

}

.productlistcontainer {
    background-color: darkgreen;
    height: 100%;
    display: grid;
    grid-template-rows: 80% 20%;
}

.productlistcontainerTop {
    background-color: darkkhaki;
    height: 100%;
}

.productlistcontainerTBottom {
    background-color: darkslateblue;
    height: 100%;
}

.Productsactive {
    color: blue;
    text-decoration: dotted;
}

.productContainer {
    background-color: darkslategray;
    height: 100%;
    display: grid;
    grid-template-rows: 20% 40% 40%;


}

.idView {
    background-color: darkgreen;
    display: grid;
    grid-template-columns: 20% 30% 50%;
    height: 100%;
}

.categoryView {
    background-color: rgb(54, 66, 54);
    display: grid;
    grid-template-columns: 20% 30% 50%;
    height: 100%;
}

.priceView {
    background-color: rgb(74, 85, 105);
    display: grid;
    grid-template-columns: 20% 30% 50%;
    height: 100%;
}

.itemView {
    display: block;
    width: 800px
}

.itemLabel {
    display: inline-block;
}

.itemData {
    display: inline-block;
}



.buttonView {
    display: block;
}

.buttonView button {
    display: inline-block;
    background-color: darkgreen;
    margin-left: 5px;
    height: 40px;
    width: 60px;
    cursor: pointer;
}

.editcontainerView {
    display: grid;
    grid-template-columns: 50% 50%;
}

.editLabelView {
    display: inline-block
}

.dataInputView {
    display: inline-block;
    width: 100%;

}

.editLabelView:hover {
    background-color: rgb(68, 68, 126);

}

.dataInputView:hover {
    background-color: rgb(45, 45, 75);
}